/* select the body tag, and change the margin */
body {
    display: block;
    margin: 8px;
}

/* select the header tag, and add several styles to it */
header {
    font-weight: bold; 
    color: red; /* change color to red */
    background-color: aqua; /* set background-color to aqua */
}

main {
    margin: 50px;
}

footer {
    color: white;
    background-color: rgb(44, 16, 16);
}

/* select all tags that have the class "product-container" */
.product-container {
    background-color: grey;
    margin-top: 20px; /* sets margin above the element only, to set margin all around use the other margin properties such as margin:, or margin-block, or margin-left etc... */
}